html * {
  box-sizing: border-box;
}

body {
  background: #F2F2F2;
  margin: 0;
}

#app {
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5rem 0;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: .5rem;
}

.media-body {
  flex: 1;
}

.upload {
  outline: none;
  margin: 3px 0;
  padding: 0 .75rem;
  line-height: 32px;
  height: 32px;
  color: black;
  width: 100%;
  color: #5A5A5A;
}

.upload .media-body {
  display: flex;
  justify-content: space-between;
}

.upload .media-figure {
  max-height: 32px;
}

.action {
  cursor: pointer;
  display: flex;
  padding: 0 .5rem;
  border-radius: 3px;
}

.action:hover {
  background-color: #D5D5D5;
}

.action .material-icons {
  line-height: 32px;
  font-size: 18px;
  margin-right: .5rem;
}
